@font-face {
  font-family: "iconfont"; /* Project id 3970665 */
  src: url('iconfont.woff2?t=1686323261884') format('woff2'),
       url('iconfont.woff?t=1686323261884') format('woff'),
       url('iconfont.ttf?t=1686323261884') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e635";
}

.icon-moon:before {
  content: "\e6b6";
}

.icon-boy:before {
  content: "\e609";
}

.icon-girl:before {
  content: "\e60e";
}

.icon-set:before {
  content: "\e6ee";
}

.icon-safety:before {
  content: "\e8ab";
}

.icon-user:before {
  content: "\e649";
}

.icon-exit:before {
  content: "\e612";
}

.icon-message:before {
  content: "\e7d8";
}

.icon-member:before {
  content: "\e789";
}

.icon-cuo:before {
  content: "\e6e5";
}

.icon-search:before {
  content: "\e605";
}

.icon-warn:before {
  content: "\e642";
}

.icon-error:before {
  content: "\e645";
}

.icon-success:before {
  content: "\e60d";
}

.icon-mac:before {
  content: "\e647";
}

.icon-ipad:before {
  content: "\e62d";
}

.icon-iphone:before {
  content: "\e64a";
}

.icon-android:before {
  content: "\e633";
}

.icon-windows:before {
  content: "\e6bb";
}

.icon-originality:before {
  content: "\e604";
}

.icon-dianzan:before {
  content: "\e816";
}

.icon-shiting:before {
  content: "\e680";
}

.icon-MV:before {
  content: "\e603";
}

.icon-VIP:before {
  content: "\e66a";
}

.icon-yinliang2:before {
  content: "\e797";
}

.icon-jingyin:before {
  content: "\e798";
}

.icon-yinliang1:before {
  content: "\e799";
}

.icon-bofang:before {
  content: "\e662";
}

.icon-pause:before {
  content: "\ea6d";
}

.icon-xiazai:before {
  content: "\e678";
}

.icon-sousuo:before {
  content: "\e64c";
}

.icon-20gf-headphones:before {
  content: "\ea06";
}

.icon-gengduo:before {
  content: "\e67f";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-bofang2:before {
  content: "\e717";
}

.icon-pinglun1:before {
  content: "\e66c";
}

.icon-xihuan21:before {
  content: "\e63d";
}

.icon-xihuan2:before {
  content: "\e6a4";
}

.icon-diantai:before {
  content: "\e602";
}

.icon-remove:before {
  content: "\e608";
}

.icon-quxiaoquanping:before {
  content: "\e686";
}

.icon-quanping:before {
  content: "\e607";
}

.icon-tianjia:before {
  content: "\e663";
}

.icon-bofang1:before {
  content: "\e628";
}

.icon-yinle:before {
  content: "\e667";
}

.icon-liebiao:before {
  content: "\ea75";
}

.icon-danqu:before {
  content: "\ea76";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-pinpai:before {
  content: "\e606";
}

.icon-zuijin:before {
  content: "\e74a";
}

.icon-fenxiang_2:before {
  content: "\e600";
}

.icon-shunxu:before {
  content: "\e61b";
}

.icon-tv-full:before {
  content: "\e926";
}

.icon-shipinsheying:before {
  content: "\e6c7";
}

.icon-suiji:before {
  content: "\e88d";
}

.icon-list:before {
  content: "\e601";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xinjian:before {
  content: "\e685";
}

